*{
	margin: 0;
	padding: 0;
	background-color: Turquoise;
}
.texto{
	width: 70vw;
	height: 10vh;
	margin: auto;
	background-color: SlateBlue3;
	border: 3px solid black;
	text-align: center;
	margin-top: 150px;
	font-size: 50px;
	color: white;
	text-shadow: 0 0 50px blue;
}